<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Birthday</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <%= search_form_for @q, url: :users do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name_cont, placeholder: 'Name' %>

      <%= f.label :birthday %>
      <%= f.date_field :birthday_gteq, include_blank: true %> 〜　
      <%= f.date_field :birthday_lteq, include_blank: true %>

      <%= f.label :birthday_during_year %>
      <%= f.date_select :birthday_during_year,
                        discard_day: true, discard_month: true,
                        include_blank: true %>

      <br>
      <%= f.submit 'Search' %>
  <% end %>


  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.birthday %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
